@model Gomi.Infraestrutura.Models.Financeiro.Dashboard.GastosOperacionaisOutras;
<h6 style="color:blue; font-size:10px; margin:2px;"><b> Variação Mês</b> </h6>    
<h6 style="color:black; font-size:8px; margin:1px;"><b>Deduções: @(Model.Ded_Variacao)</b></h6>
<h6 style="color:black; font-size:8px; margin:1px;"><b>Custos: @(Model.C_Variacao)</b></h6> 
<h6 style="color:black; font-size:8px; margin:1px;"><b>Despesas: @(Model.Des_Variacao)</b></h6> 


<h6 style="color:blue; font-size:10px; margin:2px;"><b> Média Ano</b></h6> 
<h6 style="color:black; font-size:8px; margin:1px;"><b>Deduções: @(Model.Ded_Mediaano) </b></h6> 
<h6 style="color:black; font-size:8px; margin:1px;"><b>Custos: @(Model.C_Mediaano) </b></h6> 
<h6 style="color:black; font-size:8px; margin:1px;"><b>Despesas: @(Model.Des_Mediaano) </b></h6> 


<h6  style="color:blue;  font-size:10px; margin:2px;"><b> Acumulado Ano</b></h6> 
<h6  style="color:black;  font-size:8px; margin:1px;"><b>Deduções: @(Model.Ded_Acumulado) </b></h6>
<h6  style="color:black;  font-size:8px; margin:1px;"><b>Custos: @(Model.C_Acumulado) </b></h6> 
<h6  style="color:black;  font-size:8px; margin:1px;"><b>Despesas: @(Model.Des_Acumulado) </b></h6> 




