<script type="text/javascript">

    function editMovimentacaoButtonClick(data, tipoMovimento) {
        $.ajax({
            url: '/Movimentacoes/Editar' + tipoMovimento,
            type: 'POST',
            data: data,
            dataType: 'html',
            success: function (viewComponent) {
                $("#ficha" + tipoMovimento).html(viewComponent);
                $("#add" + tipoMovimento).modal('show');
            }
        });
    }

    function insertMovimentacaoButtonClick(tipoMovimento) {
        $.ajax({
            url: '/Movimentacoes/Inserir' + tipoMovimento,
            type: 'POST',
            dataType: 'html',
            success: function (viewComponent) {
                $("#ficha" + tipoMovimento).html(viewComponent);
                $("#add" + tipoMovimento).modal('show');
            }
        });
    }

</script>

@(Html.DevExtreme().Button().OnClick(@<text>
    function (b) {
    insertMovimentacaoButtonClick("Pagamento");
    }
    </text>).Text("Novo Pagamento").ElementAttr("class", "btn btn-success").Icon("add"))
<p></p>


<div class="form-horizontal form-material">
    <div class="form-group">
        <div class="row">
            <div class="col-1 ">

                @(Html.DevExtreme().DateBox()
               .ID("pagdatainicial").InputAttr("Id", "dateBoxInput").Type(DateBoxType.Date).Value(DateTime.Now).Width(100).Height(33))
            </div>
            <div class="col-1 ">

                @(Html.DevExtreme().DateBox()
               .ID("pagdatafinal").InputAttr("Id", "dateBoxInput").Type(DateBoxType.Date).Value(DateTime.Now).Width(100).Height(33))
            </div>
            <div class="col-1 ">

                @(Html.DevExtreme().Button().ID("pacok").ElementAttr("class", "btn").Text("OK").Type(ButtonType.Normal).OnClick("filtradata").Height(33) )
            </div>
            <div class="col-sm-3 ">
             @(Html.DevExtreme().SelectBox()
                                              .ID("ListaPessoaPagamentos")
                                              .InputAttr("id", "recebimentoNomePessoaInput")
                                              .DataSource(d => d.Mvc()
                                                  .Controller("Movimentacoes")
                                                  .LoadAction("GetPessoasPagamento")
                                                  .Key("Nome"))
                                              .DisplayExpr("Nome")
                                              .ValueExpr("Id")
                                              .SearchEnabled(true)
                                              .SearchMode(DropDownSearchMode.StartsWith)
                                .Placeholder("Pesquisar uma Pessoa...")
                                .OnValueChanged("FiltrarPessoaPagamentos")
                )

            </div>
            <div class="col-sm-2 ">
                @(Html.DevExtreme().SelectBox()
                                .ID("ListaCategoriaPagar")
                                .DataSource(d => d.Mvc().LoadAction("ObterCategorias").Controller("Dashboard").Key("Nome"))
                                .DisplayExpr("Categoria")
                                .ValueExpr("Categoria")
                                .SearchEnabled(true)
                                .SearchMode(DropDownSearchMode.Contains)
                                .HoverStateEnabled(true)
                                .IsValid(true)
                                .SearchTimeout(500)
                                .Width(200)
                                .Height(33)
                                .Placeholder("Categoria")
                                .OnValueChanged("FiltrarCategoriaPagar"))

            </div>
            <div class="col-sm-3">
                @(Html.DevExtreme().SelectBox()
                                .ID("ListaDescricaoPagar")
                                .DataSource(d => d.Mvc().LoadAction("ObterPagamentosEmAberto").Controller("Dashboard").Key("Nome"))
                                .DisplayExpr("Descricao")
                                .ValueExpr("Descricao")
                                .SearchEnabled(true)
                                .SearchMode(DropDownSearchMode.Contains)
                                .HoverStateEnabled(true)
                                .IsValid(true)
                                .SearchTimeout(500)
                                .Width(300)
                                .Height(33)
                                .Placeholder("Descricao")
                                .OnValueChanged("FiltrarDescricaoPagar") )
            </div>
            <div class="col-sm-1">
                @(Html.DevExtreme().Button().ElementAttr("class", "btn-info").Text("Limpar").OnClick("LimparFiltroPagamentos").Height(33).Width(80))
            </div>
        </div>
    </div>
</div>

<script>
    function filtradata()
             {
                 alert("Não funciona ainda")
    }
</script>

<script>
    function FiltrarPessoaPagamentos(data)
             {
                 var dataGridpagar = $("#contasapagar2").dxDataGrid("instance");
                 dataGridpagar.filter(["Idpessoa", "=", data.value]);
             }
</script>

<script>
    function FiltrarCategoriaPagar(data)
             {
                 var dataGridpagar = $("#contasapagar2").dxDataGrid("instance");
                 dataGridpagar.filter(["Categoria", "=", data.value]);
             }
</script>

<script>
    function FiltrarDescricaoPagar(data)
             {
                 var dataGridpagar = $("#contasapagar2").dxDataGrid("instance");
                 dataGridpagar.filter(["Descricao", "=", data.value]);
             }
</script>

<script>
    function LimparFiltroPagamentos(data)
             {
                 var dataGridpagar = $("#contasapagar2").dxDataGrid("instance");
                 var ListaDescricaoPagar = $("#ListaDescricaoPagar").dxSelectBox("instance");
                 var ListaCategoriaPagar = $("#ListaCategoriaPagar").dxSelectBox("instance");
                 var ListaPessoaRecebimentosPagar = $("#ListaPessoaRecebimentosPagar").dxSelectBox("instance");

                 ListaPessoaRecebimentosPagar.reset();
                 ListaDescricaoPagar.reset();
                 ListaCategoriaPagar.reset();
                 dataGridpagar.clearFilter();
             }
</script>



<div style = "font-family:Tahoma; font-size:18px; color:white; background-color:#17bebb; text-align:left; font-weight:bold;" > &nbsp REALIZAR PAGAMENTOS</div>

@(Html.DevExtreme().DataGrid<Gomi.Infraestrutura.Models.Financeiro.ListaPagar>()
                             .ID("contasapagar2")
                          .DataSource(d => d.Mvc().Controller("Dashboard").LoadAction("ObterPagamentosEmAberto").Key("Id"))
                          .TwoWayBindingEnabled(true)
                          .ShowColumnLines(false)
                          .ShowRowLines(true)
                          .ShowBorders(false)
                          .Selection(s => s.Mode(SelectionMode.Single))
                          .RowAlternationEnabled(false)
                          .NoDataText("Nenhum registro encontrado.")
                          .Columns(columns =>
                          {
                 columns.Add().DataField("Vencimento").Caption("DATA VENC.").DataType(GridColumnDataType.Date).Width(100);
                 columns.Add().DataField("Pessoa").Caption("NOME").Width(170);
                 columns.Add().DataField("Categoria").Caption("CATEGORIA").Width(130);
                 columns.Add().DataField("Descricao").Caption("DESCRIÇÃO");
                 columns.Add().DataField("Valor").Caption("VALOR ABERTO").Width(120).Format(Format.Currency).DataType(GridColumnDataType.Number);
                 columns.Add().Alignment(HorizontalAlignment.Right).CellTemplate(@<text>@Html.DevExtreme().Switch().OffText("Não").OnText("Sim")</text>).Width(70).Caption("pagar ?");
                              columns.Add().Caption("Valor Pago").DataType(GridColumnDataType.Number).AllowEditing(true).Alignment(HorizontalAlignment.Right).Width(110);
                              columns.Add().Caption("Data Pagamento").DataType(GridColumnDataType.Date).Alignment(HorizontalAlignment.Right).Width(130);
                          })
                          .Height("300%"))


@(Html.DevExtreme().SelectBox()
        .DataSource(d => d.Mvc().Controller("Dashboard").LoadAction("ObterListaContas").Key("Id"))
        .ValueExpr("Id")
        .DisplayExpr("Nome")
        .Value(1)
        .Width(300)
        .Height(40)
)

