@model Gomi.Infraestrutura.Models.Financeiro.Dashboard.AnaliseFinanceiraOutras;

<h6 style="color:blue;font-size:10px; margin:2px;"><b> Variação Mês</b></h6> 
<h6 style="color:black;font-size:8px; margin:1px;" ><b>MC: @(Model.MC_Variacao)</b></h6> 
<h6 style="color:black;font-size:8px; margin:1px;" ><b>RO: @(Model.RO_Variacao)</b></h6> 
<h6 style="color:black;font-size:8px; margin:1px;" ><b>RL: @(Model.RL_Variacao)</b></h6> 


<h6 style="color:blue;font-size:10px; margin:2px;"><b> Média Ano</b></h6> 
<h6 style="color:black;font-size:8px; margin:1px;"><b>MC: @(Model.MC_Mediaano) </b></h6> 
<h6 style="color:black;font-size:8px; margin:1px;"><b>RO: @(Model.RO_Mediaano) </b></h6> 
<h6 style="color:black;font-size:8px; margin:1px;"><b>RL: @(Model.RL_Mediaano) </b></h6> 


<h6 style="color:blue;font-size:10px; margin:2px;"><b> Acumulado Ano</b></h6> 
<h6 style="color:black;font-size:8px; margin:1px;"><b>MC: @(Model.MC_Acumulado) </b></h6> 
<h6 style="color:black;font-size:8px; margin:1px;"><b>RO: @(Model.RO_Acumulado) </b></h6> 
<h6 style="color:black;font-size:8px; margin:1px;"><b>RL: @(Model.RL_Acumulado) </b></h6> 
